<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord</title>
    <link rel="stylesheet" href="contenu.component.css">
</head>
<body>
    <h1>Tableau de bord</h1>
    <div class="dashboard-container">
        <div class="card">
            <h2>Entrée récente</h2>
            <ul class="recent-list">
                <li>3 IPHONE 14H Hi Tech</li>
            </ul>
        </div>

        <div class="card">
            <h2>Sortie récente</h2>
            <ul class="recent-list">
                <li>3 IPHONE 14H Hi Tech 3</li>
            </ul>
        </div>

        <div class="card alert">
            <h2>Alerte stock</h2>
            <div class="alert-item">IPHONE 14H Hi Tech</div>
        </div>

        <div class="card"> 
            <div class="cardhaut">
            <h2>Produits récents</h2>      
                <button type="submit" class="login-btn">Ajouter</button>
            </div>
            <ul class="product-list">
                <li>4 Table Ronde</li>
                <li>3 Chaise Bureau X12</li>
                <li>2 Table Ronde</li>
                <li>1 Android 15 S</li>
            </ul>
        </div>


        <div class="card">
            <h2>Activité récentes</h2>
            <ul class="activity-list">
                <li>Nouvelle livraison</li>
                <li class="activity-item">50 unités d'écrans LCD</li>
                <li>Commande expédiée</li>
                <li class="activity-item">15 claviers mécaniques en sortie</li>
                <li>Mise à jour de prix</li>
                <li>Mise à jour de prix</li>
                <li>Nouvelle livraison</li>
                <li class="activity-item">20 souris sans fil</li>
            </ul>
        </div>

    </div>
</body>
</html>