<html>
<head>
    <title>Réinitialisation du mot de passe</title>
</head>
<body>
<h1>Lien de réinitialisation du mot de passe IVMA PROJECT</h1>
<p>
    Bonjour {{templateData.pseudo}}, vous avez demandé à réinitialiser votre mot de passe.
</p>
<p>
    Veuillez cliquer sur le lien de réinitalisation : <a href="{{templateData.link}}">ici</a>.
</p>
<p>Attention,vous n'avez que 15 minutes pour changer de mot de passe.</p>
</body>
</html>
