<html>
    <head>
        <title>Réinitialisation du mot de passe réussi</title>
    </head>
    <body>
        <h1>Votre mot de passe à bien été réinitalisé !</h1>
        <p>Bonjour {{templateData.firstname}}.
    je vous confirme la modification de votre mot de passe.</p>
        <p>Bonne journée à vous et bon courage.</p>
</body>
</html>
