<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" href="contenu.component.css">
</head>
<body>
    <div class="container">
        <div class="form-header">
            <div class="user-icon">A</div>
            <span>Nom Prenom Mail Role Date d'embauche Statut</span>
            <button class="delete-user">Supprimer l'utilisateur</button>
        </div>
        <div class="user-profile-form">
            <form>
                <div class="form-group">
                    <label>Nom</label>
                    <input type="text" placeholder="Input">
                </div>
                <div class="form-group">
                    <label>Prenom</label>
                    <input type="text" placeholder="Input">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" placeholder="Input">
                </div>
                <div class="form-group">
                    <label>Mot de passe</label>
                    <input type="password" placeholder="Input">
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <input type="text" placeholder="Input">
                </div>
                <div class="form-group">
                    <label>Date d'embauche</label>
                    <input type="text" placeholder="Input">
                </div>
                <div class="form-group">
                    <label>Photo de profil</label>
                    <input type="file" placeholder="Input">
                </div>
                <div class="form-group">
                    <label>Statut</label>
                    <input type="text" placeholder="Input">
                </div>
            </form>
        </div>
        <div class="button">
            <button type="submit" class="update-button">Mettre à jour</button>
        </div>
    </div>
</body>
</html>